body {
	font-family: "Open Sans";
}

h1, h3 {
	text-align: center;
}

a {
	transition-duration: 0.4s;
	color: black;
	text-decoration: none;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

a:hover {
	color: blue;
}