body {
	font-family: "Open Sans";
	background-color: GhostWhite;
}

section.header {
    background-color: black;
    background-image: url(https://storage.googleapis.com/esfcoco-hotlinemap/IMG_2580.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 0px solid linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

.header-text {
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    text-align: center;
}

section.find-numbers {
    padding-top: 50px;
}

.jumbotron {
    height: 400px;
    overflow: auto;
}